# requirements.txt

# FastAPI & Server
fastapi
uvicorn[standard] # uvicorn과 필수 의존성 함께 설치
python-multipart

# LangChain Ecosystem
langchain>=0.2.0
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-huggingface
langchain-postgres  # Chroma 대신 PGVector 사용

# ORM and PostgreSQL Driver
sqlalchemy
psycopg2-binary   # PostgreSQL 드라이버

# Embedding
sentence-transformers

# Document Loaders
pypdf
python-docx
unstructured[docx,pdf]

# Configuration
pydantic-settings
